@model IEnumerable<BPS0026_MVC_WEB.Models.OrderModel>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/OrderCss.css" rel="stylesheet" />
</head>
<body>

    <table>
        <tr>
            <td>Order No.</td>
            <td>Customer Name</td>
            <td>Order Date</td>
            <td>Total Amount</td>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @using (Html.BeginForm("Orderdetails", "Home"))
                    {
                        <input type="submit" name="no" value="@order.No" />
                    }
                </td>
                <td>@order.CustomerName.</td>
                <td>@order.Date</td>
                <td><b>@order.Amount</b></td>
            </tr>
        }
    </table>
</body>
</html>